[Unit]
Description=systemd for dns-watcher
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/lib/mgmt-vrf/dns-watcher.py
Restart=always

[Install]
WantedBy=basic.target
