[Unit]
Description=Management VRF
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/lib/cumulus/systemd-vrf mgmt
ExecStartPost=/usr/lib/cumulus/systemd-vrf mgmt start-services
ExecStop=/usr/lib/cumulus/systemd-vrf mgmt stop
Restart=always

[Install]
WantedBy=basic.target
