[Unit]
Description=Management VRF
After=networking.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/cumulus/bin/start-systemd-vrf mgmt
Restart=on-failure

[Install]
WantedBy=basic.target
