[Unit]
Description=systemd for VRF %I
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/lib/vrf/systemd-vrf %I
ExecStartPost=/usr/lib/vrf/systemd-vrf %I start-services
ExecStop=/usr/lib/vrf/systemd-vrf %I stop
Restart=on-failure

[Install]
WantedBy=basic.target
