Source: vrf
Section: net
Priority: optional
Maintainer: David Ahern <dsa@cumulusnetworks.com>
Build-Depends: debhelper (>=9),
 libnl-3-dev, libnl-route-3-dev, libnl-3-200, libnl-route-3-200
Standards-Version: 3.9.6
Homepage: http://www.cumulusnetworks.com

Package: vrf
Architecture: all
Depends: iproute2
Description: Linux tools for VRF
 This package provides tools for configuring and using the VRF
 (Virtual Routing and Forwarding) feature in Linux.

Package: mgmt-vrf
Architecture: all
Depends: vrf, python, libpam-script, ${misc:Depends}
Description: Linux tools and config for Management VRF
 This package provides tools for using the Management VRF configuration.
